/* highlight-color */

.highlight-red {
  background-color: #ffe0e0 !important;
  border-left: 3px solid #ffb6b6 !important;
  border-radius: 2px !important;
}

.highlight-black {
  background-color: #e3e3e3 !important;
  border-left: 3px solid #d7d7d7 !important;
  border-radius: 2px !important;
}

/* highlight-pencel-color */

.highlight-pencel-red {
  text-shadow: 0px 0px 16px #ff0000 !important;
}

.highlight-pencel-black {
    text-shadow: 0px 0px 16px black !important;
  }

.highlight-pencel-mint {
  text-shadow: 0px 0px 16px #00ffd2 !important;
}

/* pen-color */

.pen-red {
  color: red !important;
}

.pen-blue {
  color: blue !important;
}

.pen-notice-black {
  color: #343434 !important;
}

/* font-style */

.pen-bold {
  font-weight: bold !important;
}

.pen-small {
  font-size: small !important;
}

/* border */

.border-outset {
  border: outset !important;
  border-color: darkgray !important;
}

/* cyberpunk 2077 UI style */

.cyberpunk-red {
  --text-color: 245, 93, 80 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-cyan {
  --text-color: 100, 255, 255 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-yellow {
  --text-color: 255, 240, 0 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-violet {
  --text-color: 151, 152, 235 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-blue {
  --text-color: 117, 155, 255 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-lightgreen {
  --text-color: 223, 245, 98 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-grey {
  --text-color: 190, 190, 190 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-bg {
  background-color: #06090e !important;
  padding: 16px !important;
}

.cyberpunk-bg-grey {
  background-color: #343434 !important;
  padding: 16px !important;
}

.cyberpunk-hr {
  background-color: rgb(49, 250, 255) !important;
  border-color: rgb(49, 250, 255) !important;
}

/* button type */

.block-darkgrey {
  padding: 0.5em 1em !important;
  font-size: .75em !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  color: white !important;
  background-color: #2C2F33 !important;
}